<app-header></app-header>
<mat-sidenav-container class=container>
  <mat-sidenav mode="side" opened class=sidenav >
    <nav>
      <a routerLink="/menu">메뉴관리</a><br>
      <a routerLink="/resident">입주민관리</a><br>
      <a routerLink="/staff">직원관리</a><br>
      <a routerLink="/accounting">회계관리</a><br>
      <a routerLink="/store">스토어관리</a><br>
      <a routerLink="/locker">락커좌석관리</a><br>
      <a routerLink="/class">수업관리</a><br>
      <a routerLink="/attendence">출석관리</a><br>
      <a routerLink="/service-center">생활관리지원</a><br>
      <a routerLink="/settings">권한설정</a><br>
    </nav>
    
  </mat-sidenav>
  
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
<app-footer></app-footer>


