
<div style="text-align:center">
  <h1>어..... 홈 패이지??</h1>
  <nav>
    <a routerLink="/home">홈</a>
    <a routerLink="/menu">메뉴관리</a>
    <a routerLink="/resident">입주민관리</a>
    <a routerLink="/staff">직원관리</a>
    <a routerLink="/accounting">회계관리</a>
    <a routerLink="/store">스토어관리</a>
    <a routerLink="/locker">락커좌석관리</a>
    <a routerLink="/class">수업관리</a>
    <a routerLink="/attendence">출석관리</a>
    <a routerLink="/service-center">생활관리지원</a>
    <a routerLink="/settings">권한설정</a>
  </nav> 
</div>
<router-outlet></router-outlet>
<app-footer></app-footer>


